<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-card mode="ios" color="primary">
  <ion-card-header>
    <ion-card-subtitle>Tecnico</ion-card-subtitle>
    <ion-card-title>Mantenimiento de Motores Diesel</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <h2>Modalidad: Presencial</h2>
    <h2>Etapa Lectiva: 3 Trimestres
      Etapa Productiva: 2 Trimestres</h2>
    <h3>
      El Técnico en mantenimiento de motores diesel es experto 
      en diagnosticar y realizar mantenimiento preventivo y 
      correctivo de motores diesel y su sistema de alimentación 
      e inyección de combustible.
    </h3>
  </ion-card-content >
</ion-card> 
<ion-card mode="ios" color="primary">
  <!-- <ion-card-header>
    <ion-card-subtitle>Tecnico</ion-card-subtitle>
    <ion-card-title>Mantenimiento de Motores Diesel</ion-card-title>
  </ion-card-header> -->
  <ion-item color="primary">
    <ion-icon color="light" slot="start" name="pin"></ion-icon>
    <ion-label>Mantenimiento de Motores Diesel</ion-label>
  </ion-item>
  <ion-img src="/assets/slide.svg"></ion-img>
  <ion-card-content>
    <h2>Modalidad: Presencial</h2>
    <h2>Etapa Lectiva: 3 Trimestres
      Etapa Productiva: 2 Trimestres</h2>
    <h3>
      El Técnico en mantenimiento de motores diesel es experto 
      en diagnosticar y realizar mantenimiento de motores disel.
    </h3>
  </ion-card-content >
</ion-card> 
</ion-content>
<ion-footer>
  <app-footer></app-footer> 
</ion-footer>
