<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src='assets/img/dinero.svg' >
    </ion-slide>
    <ion-slide>
      <img src='assets/img/mujer.svg' >
    </ion-slide>
    <ion-slide>
      <img src='assets/img/pastel.svg' >
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <app-footer></app-footer> 
</ion-footer>

